In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df_estudiante=pd.read_csv('/content/drive/MyDrive/StudentsPerformance (1).csv')
df_estudiante

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [ ]:
#Operaciones en columnas,lo primero que debemos hacer es elegir la columna que quiero, ojala una columna numerica
df_estudiante['reading score']

0      72
1      90
2      95
3      57
4      78
       ..
995    99
996    55
997    71
998    78
999    86
Name: reading score, Length: 1000, dtype: int64

In [ ]:
#Sumar datos de una columna
df_estudiante['reading score'].sum()

69169

In [ ]:
#Como contar datos de una columna
df_estudiante['reading score'].count()

1000

In [ ]:
#Calcular el promedio de uuna columna, se usa el mÃ©todo mean
df_estudiante['reading score'].mean()

69.169

In [ ]:
#Para calcular la desviacion de una columna uso el mÃ©todo std
df_estudiante['reading score'].std()

14.60019193725222

In [ ]:
#Para ver lo valores mÃ¡ximos de una columa usamos el mÃ©todo, max.
df_estudiante['reading score'].max()

100

In [ ]:
#Para ver le valor minimo de una columna usamos el mÃ©todo, min}
df_estudiante['reading score'].min()

17

In [ ]:
#Para ver las medidas de tendencia central de una columna usamos el mÃ©todo describe.
df_estudiante['reading score'].describe()

count    1000.000000
mean       69.169000
std        14.600192
min        17.000000
25%        59.000000
50%        70.000000
75%        79.000000
max       100.000000
Name: reading score, dtype: float64

In [ ]:
df_estudiante

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [ ]:
#Operaciones entre filas, empecemos con la suma
df_estudiante['math score']+df_estudiante['writing score']+df_estudiante['reading score']

0      218
1      247
2      278
3      148
4      229
      ...
995    282
996    172
997    195
998    223
999    249
Length: 1000, dtype: int64

In [ ]:
#AsÃ­ guardo una columna calculada
df_estudiante['Total']=df_estudiante['math score']+df_estudiante['writing score']+df_estudiante['reading score']
df_estudiante

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,Total
0,female,group B,bachelor's degree,standard,none,72,72,74,218
1,female,group C,some college,standard,completed,69,90,88,247
2,female,group B,master's degree,standard,none,90,95,93,278
3,male,group A,associate's degree,free/reduced,none,47,57,44,148
4,male,group C,some college,standard,none,76,78,75,229
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,282
996,male,group C,high school,free/reduced,none,62,55,55,172
997,female,group C,high school,free/reduced,completed,59,71,65,195
998,female,group D,some college,standard,completed,68,78,77,223
999,female,group D,some college,free/reduced,none,77,86,86,249

In [ ]:
#Calcula el promedio de las notas que hay.
(df_estudiante['Total'])/3

0      72.666667
1      82.333333
2      92.666667
3      49.333333
4      76.333333
         ...
995    94.000000
996    57.333333
997    65.000000
998    74.333333
999    83.000000
Name: Total, Length: 1000, dtype: float64

In [ ]:
#Guardamos el resultado en una nueva columna.
df_estudiante['Promedio']=(df_estudiante['Total'])/3
df_estudiante

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,Total,Promedio
0,female,group B,bachelor's degree,standard,none,72,72,74,218,72.666667
1,female,group C,some college,standard,completed,69,90,88,247,82.333333
2,female,group B,master's degree,standard,none,90,95,93,278,92.666667
3,male,group A,associate's degree,free/reduced,none,47,57,44,148,49.333333
4,male,group C,some college,standard,none,76,78,75,229,76.333333
...,...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,282,94.000000
996,male,group C,high school,free/reduced,none,62,55,55,172,57.333333
997,female,group C,high school,free/reduced,completed,59,71,65,195,65.000000
998,female,group D,some college,standard,completed,68,78,77,223,74.333333
999,female,group D,some college,free/reduced,none,77,86,86,249,83.000000

In [ ]:
#AsÃ­ formateo los numeros para que tengan solo dos decimales.
df_estudiante.round(2)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,Total,Promedio
0,female,group B,bachelor's degree,standard,none,72,72,74,218,72.67
1,female,group C,some college,standard,completed,69,90,88,247,82.33
2,female,group B,master's degree,standard,none,90,95,93,278,92.67
3,male,group A,associate's degree,free/reduced,none,47,57,44,148,49.33
4,male,group C,some college,standard,none,76,78,75,229,76.33
...,...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,282,94.00
996,male,group C,high school,free/reduced,none,62,55,55,172,57.33
997,female,group C,high school,free/reduced,completed,59,71,65,195,65.00
998,female,group D,some college,standard,completed,68,78,77,223,74.33
999,female,group D,some college,free/reduced,none,77,86,86,249,83.00

In [ ]:
#Contamos elementos por valor con el mÃ©todo len
len(df_estudiante['gender'])

1000

In [ ]:
#Para contar cada uno uso el mÃ©todo values.counts
df_estudiante['gender'].value_counts()

gender
female    518
male      482
Name: count, dtype: int64

In [ ]:
#Para contar la raza y grupos etnicos en este caso
df_estudiante['race/ethnicity'].value_counts()

race/ethnicity
group C    319
group D    262
group B    190
group E    140
group A     89
Name: count, dtype: int64

In [38]:
#Agrupamos por parental level of education
df_estudiante['parental level of education'].value_counts()

parental level of education
some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: count, dtype: int64

In [ ]:
#Calcular el valor de participaciÃ³n por cada elemento
df_estudiante['race/ethnicity'].value_counts(normalize=True)*100

race/ethnicity
group C    31.9
group D    26.2
group B    19.0
group E    14.0
group A     8.9
Name: proportion, dtype: float64

In [ ]:
#Podemos organizar los dataframe no solo ppor una columna si no por dos
df_estudiante.sort_values(['reading score', 'writing score'], ascending=False)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,Total,Promedio
106,female,group D,master's degree,standard,none,87,100,100,287,95.666667
114,female,group E,bachelor's degree,standard,completed,99,100,100,299,99.666667
165,female,group C,bachelor's degree,standard,completed,96,100,100,296,98.666667
179,female,group D,some high school,standard,completed,97,100,100,297,99.000000
458,female,group E,bachelor's degree,standard,none,100,100,100,300,100.000000
...,...,...,...,...,...,...,...,...,...,...
76,male,group E,some high school,standard,none,30,26,22,78,26.000000
980,female,group B,high school,free/reduced,none,8,24,23,55,18.333333
596,male,group B,high school,free/reduced,none,30,24,15,69,23.000000
327,male,group A,some college,free/reduced,none,28,23,19,70,23.333333
59,female,group C,some high school,free/reduced,none,0,17,10,27,9.000000

In [ ]:
organizado_escritura=df_estudiante.sort_values(['reading score', 'writing score'], ascending=False)
organizado_escritura.to_csv('organizado_escritura.csv', index=False)

In [ ]:
#De esta manera guardo los datos y sobreescribir sin reusar la variable.
df_estudiante.sort_values(['reading score', 'writing score'], ascending=False,
                          inplace=True)

In [ ]:
df_estudiante

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,Total,Promedio
106,female,group D,master's degree,standard,none,87,100,100,287,95.666667
114,female,group E,bachelor's degree,standard,completed,99,100,100,299,99.666667
165,female,group C,bachelor's degree,standard,completed,96,100,100,296,98.666667
179,female,group D,some high school,standard,completed,97,100,100,297,99.000000
458,female,group E,bachelor's degree,standard,none,100,100,100,300,100.000000
...,...,...,...,...,...,...,...,...,...,...
76,male,group E,some high school,standard,none,30,26,22,78,26.000000
980,female,group B,high school,free/reduced,none,8,24,23,55,18.333333
596,male,group B,high school,free/reduced,none,30,24,15,69,23.000000
327,male,group A,some college,free/reduced,none,28,23,19,70,23.333333
59,female,group C,some high school,free/reduced,none,0,17,10,27,9.000000

In [ ]:
#Para prganizar los valores por texto se usa la funcion lampda, con ella convertimos los valores en mminuscula y luego ordenamos
df_estudiante.sort_values('race/ethnicity', ascending=True,
                          key=lambda col:col.str.lower())

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,Total,Promedio
305,male,group A,some college,standard,none,69,67,69,205,68.333333
129,female,group A,bachelor's degree,standard,none,51,49,51,151,50.333333
467,male,group A,high school,free/reduced,completed,72,67,65,204,68.000000
511,male,group A,some high school,standard,none,64,50,43,157,52.333333
378,female,group A,some high school,standard,none,71,83,77,231,77.000000
...,...,...,...,...,...,...,...,...,...,...
186,male,group E,high school,standard,none,80,76,65,221,73.666667
968,female,group E,associate's degree,standard,none,68,76,67,211,70.333333
269,female,group E,some college,free/reduced,none,71,76,70,217,72.333333
926,male,group E,associate's degree,free/reduced,none,64,56,52,172,57.333333
881,female,group E,bachelor's degree,standard,completed,71,70,70,211,70.333333